@using System.Text.RegularExpressions
@using DSCore.Ini
@model Commodity
@{
    KeyValuePair<string, string> infocard = (KeyValuePair<string, string>)ViewBag.Infocard;
    ViewData["Title"] = infocard.Key;
}



<div class="text-center">
    <div class="window window-cell">
        <h2>@ViewData["Title"]</h2>
        <br/>
        <br/>
        <h1>TODO: Add icon</h1>

        @Html.Raw(infocard.Value)
    </div>
    
    <div class="window window-cell">
        <table id="tbl">
            <tbody>
            <tr>
                <td>@infocard.Key</td>
                <td>@Model.Nickname</td>
                <td>@Model.Price</td>
                <td>@Model.GoodBuyPrice / @Model.BadBuyPrice</td>
                <td>@Model.GoodSellPrice / @Model.BadSellPrice</td>
                <td>@(Model.DecayRate != 0 ? ((Int32) Model.Hitpoints % Model.DecayRate).ToString() : "Not Perishable")</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <h1>TODO: Setup base sell points</h1>
    </div>
    
</div>