@using DSCore.Ini
@model List<Commodity>
@{
    ViewData["Title"] = "Commodities";
    Dictionary<uint, string> Infocards = (Dictionary<uint, string>)ViewBag.Infocards;
}


<div class="text-center">
    <div class="window">
        <h2>Commodities</h2>
        <br />
        <table id="tbl">
            <thead>
                <tr>
                    <td id="name-head">
                        <div class="thead-cell">
                            <span>Name</span>
                            <button class="button.btn-sort.sort-up.name"></button>
                            <button class="button.btn-sort.sort-down.name"></button>
                        </div>
                    </td>
                    <td id="price-head">
                        <div class="thead-cell">
                            <span>Price</span>
                            <button class="button.btn-sort.sort-up.price"></button>
                            <button class="button.btn-sort.sort-down.price"></button>
                        </div>
                    </td>
                    <td id="volume-head">
                        <div class="thead-cell">
                            <span>Volume</span>
                            <button class="button.btn-sort.sort-up.volume"></button>
                            <button class="button.btn-sort.sort-down.volume"></button>
                        </div>
                    </td>
                    <td id="goodbadbuy-head">
                        <div class="thead-cell">
                            <span>Good/Bad Buy Price</span>
                            <button class="button.btn-sort.sort-up.name"></button>
                            <button class="button.btn-sort.sort-down.name"></button>
                        </div>
                    </td>
                    <td id="goodbadsell-head">
                        <div class="thead-cell">
                            <span>Good/Bad Sell Price</span>
                            <button class="button.btn-sort.sort-up.name"></button>
                            <button class="button.btn-sort.sort-down.name"></button>
                        </div>
                    </td>
                    <td id="combine-head">
                        <div class="thead-cell">
                            <span>Combinable</span>
                            <button class="button.btn-sort.sort-up.name"></button>
                            <button class="button.btn-sort.sort-down.name"></button>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (Commodity commodity in ViewData.Model)
                {
                    <tr>
                        <td>
                            @{ string value;
                                Infocards.TryGetValue(commodity.Name, out value);
                                if (string.IsNullOrEmpty(value))
                                    { value = "DatabaseError"; }
                            }
                            <a href="@($"{ViewContext.HttpContext.Request.Path}/{commodity.Nickname}")"> @value </a>
                        </td>
                        <td>@commodity.Price</td>
                        <td>@commodity.CargoSpaceRequired</td>
                        <td>@commodity.GoodBuyPrice / @commodity.BadBuyPrice</td>
                        <td>@commodity.GoodSellPrice / @commodity.BadSellPrice</td>
                        <td>@(commodity.Combinable ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--<script src="~/js/grids.js"></script>-->