@using DSCore.Ini
@using System.Globalization
@model List<Commodity>
@{
    ViewData["Title"] = "Commodities";
    List<Infocard> Infocards = (List<Infocard>)ViewBag.Infocards;
}


<div class="text-center">
    <div class="window">
        <h2>@ViewData["Title"]</h2>
        <br />
        <table id="tbl">
            <thead>
                <tr>
                    <td id="name-head">
                        <div class="thead-cell">
                            <span>Name</span>
                        </div>
                    </td>
                    <td id="price-head">
                        <div class="thead-cell">
                            <span>Price</span>
                        </div>
                    </td>
                    <td id="volume-head">
                        <div class="thead-cell">
                            <span>Volume</span>
                        </div>
                    </td>
                    <td id="goodbadbuy-head">
                        <div class="thead-cell">
                            <span>Good/Bad Buy Price</span>
                        </div>
                    </td>
                    <td id="goodbadsell-head">
                        <div class="thead-cell">
                            <span>Good/Bad Sell Price</span>
                        </div>
                    </td>
                    <td id="combine-head">
                        <div class="thead-cell">
                            <span>Combinable</span>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (Commodity commodity in ViewData.Model)
                {
                    <tr>
                        <td>
                            @{
                                string value;
                                try
                                { value = Infocards.FirstOrDefault(x => x.Key == commodity.Name).Value; }
                                catch { continue; }
                            }
                            <a href="@($"{ViewContext.HttpContext.Request.Path}/{commodity.Nickname}")"> @value </a>
                        </td>
                        <td>@commodity.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</td>
                        <td>@commodity.CargoSpaceRequired</td>
                        <td>@commodity.GoodBuyPrice / @commodity.BadBuyPrice</td>
                        <td>@commodity.GoodSellPrice / @commodity.BadSellPrice</td>
                        <td>@(commodity.Combinable ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--<script src="~/js/grids.js"></script>-->