@using DSCore.Ini
@using System.Globalization
@model List<Commodity>
@{
    ViewData["Title"] = "Commodities";
    List<Infocard> Infocards = (List<Infocard>)ViewBag.Infocards;
}


<div class="text-center">
    <div class="window">
        <h2>@ViewData["Title"]</h2>
        <br />
        <table>
            <thead>
                <tr id="tbl-header">
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Name</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Price</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Volume</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Good/Bad Buy Price</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Good/Bad Sell Price</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Combinable</span></a>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (Commodity commodity in ViewData.Model)
                {
                    <tr>
                        <td>
                            @{
                                string value;
                                try
                                { value = Infocards.FirstOrDefault(x => x.Key == commodity.Name).Value; }
                                catch { continue; }
                            }
                            <a href="@($"{ViewContext.HttpContext.Request.Path}/{commodity.Nickname}")"> @value </a>
                        </td>
                        <td>@commodity.Price.ToString("C0", CultureInfo.CreateSpecificCulture("en-US"))</td>
                        <td>@commodity.CargoSpaceRequired</td>
                        <td>@commodity.GoodBuyPrice / @commodity.BadBuyPrice</td>
                        <td>@commodity.GoodSellPrice / @commodity.BadSellPrice</td>
                        <td>@(commodity.Combinable ? "Yes" : "No")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/grids.js"></script>