@using DSCore.Ini
@using DSCore.Utilities
@model List<System>
@{
    ViewData["Title"] = "Systems";
    List<Infocard> Infocards = (List<Infocard>)ViewBag.Infocards;
}


<div class="text-center">
    <div class="window">
        <h2>@ViewData["Title"]</h2>
        <br />
        <table>
            <thead class="sort-table">
                <tr>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>System</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Nickname</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Region</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Total Map Size</span></a>
                        </div>
                    </td>
                    <td>
                        <div class="thead-cell">
                            <a href="#"><span>Individual Grid Size</span></a>
                        </div>
                    </td>
                </tr>
            </thead>
            <tbody>
                @foreach (System system in ViewData.Model)
                {
                    float totalSize = Utils.GetMapSize(system.NavMapScale == 0 ? 1 : system.NavMapScale);
                    string value;
                    try
                    {
                        value = Infocards.FirstOrDefault(x => x.Key == system.Name).Value;
                        if (value == "???" || value.ToLower().Contains("help") || value.ToLower().Contains("uncharted")
                            || value.ToLower().Contains("atmosphere")) { continue; }
                    }
                    catch { continue; }
                    
                    <tr>
                        <td>
                            <a href="@($"https://space.discoverygc.com/navmap/#q={value}")" target="_blank"> @value </a>
                        </td>
                        <td>@system.Nickname</td>
                        <td>@system.Region</td>
                        <td>@((totalSize / 1000f).ToString("N0")) K</td>
                        <td>@((totalSize / 1000f / 8f).ToString("N0")) K</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script src="~/js/grids.js"></script>