@using DSCore.Ini
@using DSCore.Utilities
@model System
@{
    List<Infocard> Infocards = (List<Infocard>)ViewBag.Infocards;
    List<Faction> Factions = (List<Faction>) ViewBag.Factions;
    ViewData["Title"] = Infocards.First(x => x.Key == Model.Name).Value;
}



<div class="text-center">
    <div class="window">
        <h2>@ViewData["Title"]</h2>

        @Html.Raw(Utils.XmlToHtml(Infocards.First(x => x.Key == Model.Infocard).Value))
    </div>
    
    @if (Model.Bases != null)
    {
        <div class="window">
            <h2>@ViewData["Title"]'s Bases</h2>
        
            @foreach (var i in Model.Bases)
            {
                if (i.Position == null) { i.Position = new float[] { 0, 0, 0 }; }
                if (i.Nickname.ToLower().Contains("miner")) { continue; }
                if (i.Nickname.ToLower().Contains("proxy_base")) { continue; }
                <a href="@($"{ViewContext.HttpContext.Request.Scheme}://{ViewContext.HttpContext.Request.Host}/base/{i.Nickname}")">
                    <p>@Infocards.First(x => x.Key == i.Name).Value<br/>
                        @Infocards.First(x => x.Key == Model.Name).Value - @Utils.GetGridCode(Model, i.Position, true)</p>
                </a>
            }
        </div>
    }
</div>
<script src="~/js/grids.js"></script>